<section class="companies">
  <h1 class="companies__title">Las empresas confían en nosotros</h1>
  <div class="companies__list">
    <!--img class="companies--logo" src="/assets/img/logos/logoFeYAlegria.png"-->
    <a href="https://www.elporvenir.org/espanol"><img class="companies__logo" src="/assets/img/logos/logoElPorvenir.png"></a>
    <a href="https://www.piase.org/"><img class="companies__logo" src="/assets/img/logos/logoPIASE.png"></a>
    <a href="https://www.instagram.com/ontimebox_/"><img class="companies__logo" src="/assets/img/logos/logoOnTimeBox.png"></a>
    <a href="https://everydmmatters.com/"><img class="companies__logo" src="/assets/img/logos/logoEveryDMMatters.png"></a>
    <a href="https://www.ballhort.com/Companies/LasLimas/"><img class="companies__logo" src="/assets/img/logos/logoLasLimas.png"></a>
    <a href="https://www.facebook.com/laboratorios.mongalo"><img class="companies__logo" src="/assets/img/logos/logoDentalMongalo.png"></a>
  </div>
</section>