<section class="companies">
  <h1 class="companies--title">Las empresas confían en nosotros</h1>
  <div class="companies--list">
    <!--img class="companies--logo" src="/assets/img/logos/logoFeYAlegria.png"-->
    <img class="companies--logo" src="/assets/img/logos/logoElPorvenir.png">
    <img class="companies--logo" src="/assets/img/logos/logoPIASE.png">
    <img class="companies--logo" src="/assets/img/logos/logoOnTimeBox.png">
    <img class="companies--logo" src="/assets/img/logos/logoEveryDMMatters.png">
    <img class="companies--logo" src="/assets/img/logos/logoLasLimas.png">
  </div>
</section>