<footer class="footer ">
  <div class="footer--content">
    <div class="footer--section">
      <img class="footer--logo" src="/assets/img/logos/logoBazzar2.png">
      <p class="footer--description">{{ site.data.footer.description }}</p>
      <img class="footer--partners" src="/assets/img/partners.png">
    </div>
    <div class="footer--section">
      <h1 class="footer--title">Servicios</h1>
      <a class="footer--link" href="">Creatividad & Estrategia</a>
      <a class="footer--link" href="">Desarrollo & Diseño Web</a>
      <a class="footer--link" href="">Marketing Digital & PPC</a>
      <a class="footer--link" href="">Producción Audiovisual</a>
      <a class="footer--link" href="">Marketing Digital & PPC</a>
      <a class="footer--link" href="">Producción Audiovisual</a>

    </div>
    <div class="footer--section">
      <h1 class="footer--title">Conoce Más</h1>
      <a class="footer--link" href="">Quiénes somos</a>
      <a class="footer--link" href="">Políticas de privacidad</a>
    </div>
    <div class="footer--section">
      <h1 class="footer--title">Contáctanos</h1>
      <a href="#" class="footer--link"> <img class="footer--icon" src="/assets/img/icons/iconLocation.png"> Valle Dorado Managua, NI</a>
      <a href="#" class="footer--link"> <img class="footer--icon" src="/assets/img/icons/iconEmail.png"> info@bazzar.digital</a>
      <a href="#" class="footer--link"> <img class="footer--icon" src="/assets/img/icons/iconPhone.png"> (505) 8567 9865</a>
      <div>
        <a href="#"><img class="footer--icon" src="/assets/img/icons/iconFacebook.png"></a>
        <a href="#"><img class="footer--icon" src="/assets/img/icons/iconInstagram.png"></a>
        <a href="#"><img class="footer--icon" src="/assets/img/icons/iconLinkedin.png"></a>
        <a href="#"><img class="footer--icon" src="/assets/img/icons/iconWhatsapp2.png"></a>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer--copy">
    <p>{{ site.data.footer.copyright }}</p>
    <a class="footer--link" href="#">Cookies</a>
  </div>
</footer>