<footer class="footer ">
  <div class="footer__content">
    <div class="footer__section">
      <img class="footer__logo" src="/assets/img/logos/logoBazzar2.png">
      <p class="footer__description">{{ site.data.footer.description }}</p>
      <!--img class="footer__partners" src="/assets/img/partners.png"-->
    </div>
    <div class="footer__section">
      <h1 class="footer__title">Servicios</h1>
      <a class="footer__link" href="">Creatividad & Estrategia</a>
      <a class="footer__link" href="">Desarrollo & Diseño Web</a>
      <a class="footer__link" href="">Marketing Digital & PPC</a>
      <a class="footer__link" href="">Producción Audiovisual</a>
      <a class="footer__link" href="">Marketing Digital & PPC</a>
      <a class="footer__link" href="">UX / UI</a>

    </div>
    <div class="footer__section">
      <h1 class="footer__title">Conoce Más</h1>
      <a class="footer__link" href="/about">Quiénes somos</a>
      <a class="footer__link" href="/politica-de-privacidad">Políticas de privacidad</a>
      <a class="footer__link" href="/politica-de-cookies">Políticas de cookies</a>
    </div>
    <div class="footer__section">
      <h1 class="footer__title">Contáctanos</h1>
      <a href="#" class="footer__link"> <img class="footer--icon" src="/assets/img/icons/iconLocation.png"> Valle Dorado Managua, NI</a>
      <a href="#" class="footer__link"> <img class="footer--icon" src="/assets/img/icons/iconEmail.png"> info@bazzar.digital</a>
      <a href="#" class="footer__link"> <img class="footer--icon" src="/assets/img/icons/iconPhone.png"> (505) 8116 3634 </a>
      <div>
        <a href="https://www.facebook.com/bazzar.estudio"><img class="footer__icon" src="/assets/img/icons/iconFacebook.png"></a>
        <a href="https://www.instagram.com/bazzar.digital_/"><img class="footer__icon" src="/assets/img/icons/iconInstagram.png"></a>
        <a href="https://www.linkedin.com/company/bazzar-digital/"><img class="footer__icon" src="/assets/img/icons/iconLinkedin.png"></a>
        <a href="https://wa.me/50581163634?text=Estoy%20interesado%20en%20los%20servicios%20de%20Bazzar%20Digital"><img class="footer__icon" src="/assets/img/icons/iconWhatsapp2.png"></a>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer__copy">
    <p>{{ site.data.footer.copyright }}</p>
    <a class="footer__cookies" href="/politica-de-cookies">Cookies</a>
  </div>
</footer>
