<section class="hero">
    <div class="hero__content">
        <h1 class="hero__title">Impulse su negocio con la excelencia del <span class="hero__title-blue">marketing digital</span></h1>
        <p class="hero__description">Desbloquee nuevas oportunidades y amplíe su alcance en todas las plataformas digitales con nuestras soluciones integrales.</p>
        <a class="hero__action" href="https://wa.me/50585679865?text=Estoy%20interesado%20en%20los%20servicios%20de%20Bazzar%20Digital">Escribir ahora</a>
    </div>
    <img class="hero__bg" src="/assets/img/rocket-comp.png">
</section>