<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1 class="hero__title">Impulse su negocio con la excelencia del <span class="hero__title-blue">marketing digital</span></h1>
            <p class="hero__description">Desbloquee nuevas oportunidades y amplíe su alcance en todas las plataformas digitales con nuestras soluciones integrales.</p>
            <a class="hero__action" href="https://form.typeform.com/to/NheBH32J">Escribir ahora</a>
        </div>
        <img class="hero__bg" src="/assets/img/rocket-comp.png">
    </div>
</section>