<nav class="nav">
  <p><img class="nav--brand" src="/assets/img/logos/logoBazzar.png"/></p>
  <ul class="nav--menu">
    <li class="nav--item"><a class="nav--link" href="#">Inicio</a></li>
    <li class="nav--item"><a class="nav--link" href="#">Servicios</a></li>
    <li class="nav--item"><a class="nav--link" href="#">FAQ</a></li>
  </ul>
  <a href="https://wa.me/50585679865?text=Estoy%20interesado%20en%20los%20servicios%20de%20Bazzar%20Digital" class="nav--whatsapp"><img class="nav--whatsapp-icon" src="/assets/img/icons/iconWhatsapp.png">Chat por Whatsapp</a>
</nav>
