<nav class="nav">
  <div class="nav__container">
    <a href="/"><img class="nav__brand" src="/assets/img/logos/logoBazzar.png"/></a>
  <ul class="nav__menu">
    <li class="nav__item"><a class="nav__link" href="/">Inicio</a></li>
    <li class="nav__item"><a class="nav__link" href="/about.html">Nosotros</a></li>
    <li class="nav__item"><a class="nav__link" href="https://www.behance.net/Bazzardigital">Proyectos</a></li>
    <li class="nav__item"><a class="nav__link" href="/services">Servicios</a></li>
    <li class="nav__item"><a class="nav__link" href="/#faq">FAQ</a></li>
  </ul>
  <a
    href="https://wa.me/50581163634?text=Estoy%20interesado%20en%20los%20servicios%20de%20Bazzar%20Digital" 
    class="nav__whatsapp">
    <img class="nav__whatsapp-icon" src="/assets/img/icons/iconWhatsapp.png">
    Chat por Whatsapp
  </a>
  </div>
</nav>

<nav class="nav-mobile" x-data="{open: false}" x-bind:class="!open ? 'nav-mobile--closed' : ''">
  <div class="nav-mobile__closed" x-show="!open">
    <p><img class="nav-mobile__brand" src="/assets/img/logos/logoBazzar.png"/></p>
    <button class="nav-mobile__hamburguer" type="button" x-on:click="open = ! open">
      <img class="nav-mobile__hamburguer-img" src="/assets/img/icons/iconHamburguer.png">
    </button>
  </div>
  <div>
    <div class="nav-mobile__opened" x-show="open">
      <div class="nav-mobile__bar">
        <a href="/"><img src="/assets/img/logos/bazzarIsologo.png"></a>
        <button class="nav-mobile__hamburguer" type="button" x-on:click="open = ! open">
          <img class="nav-mobile__hamburguer-img" src="/assets/img/icons/iconClose.png">
        </button>
      </div>
      <div class="nav-mobile__list">
        <ul class="nav-mobile__menu">
          <li class="nav-mobile__item"><a class="nav-mobile__link" href="/">Inicio</a></li>
          <li class="nav-mobile__item"><a class="nav-mobile__link" href="/about.html">Nosotros</a></li>
          <li class="nav-mobile__item"><a class="nav-mobile__link" href="https://www.behance.net/Bazzardigital">Proyectos</a></li>
          <li class="nav-mobile__item"><a class="nav-mobile__link" href="/services">Servicios</a></li>
          <li class="nav-mobile__item"><a class="nav-mobile__link" href="/#faq">FAQ</a></li>
        </ul>
        <a href="https://wa.me/50581163634?text=Estoy%20interesado%20en%20los%20servicios%20de%20Bazzar%20Digital" class="nav-mobile__whatsapp"><img class="nav-mobile__whatsapp-icon" src="/assets/img/icons/iconWhatsapp.png">Chat por Whatsapp</a>
      </div>
    </div>
    
  </div>
</nav>
