<hr>
<section id="servicios" class="resume">
  <header class="resume__header">
    <h1 class="resume__title">Marketing orientado a resultados</h1>
    <p class="resume__content resume__content-blue">Impulsamos tu éxito digital con estrategias personalizadas e integrales.</p>
    <p class="resume__content">Cada acción está enfocada en obtener resultados tangibles, adaptándonos a las necesidades específicas de tu negocio para maximizar el rendimiento y el retorno de inversión</p>
  </header>
  
  <div class="resume__cardList">
    {% for item in site.data.resume %}
      <div class="resume__card">
        <img class="resume__cardIcon" src="/assets/img/icons/{{item.icon}}">
        <div class="resume__cardContent">
          <img class="resume__cardPlus" src="/assets/img/icons/iconPlus.png">
          <h2 class="resume__cardHeader">{{item.header}}</h2>
        </div>
        <p class="resume__cardDescription">{{item.description}}</p>
      </div>
    {% endfor %}
  </div>
  <a class="resume__cta" href="https://calendly.com/bazzar/consultoria-gratuita">Reserva tu consultoría gratuita</a>
</section>