<section class="testimonial">
  <h1 class="testimonial__header">Lo que dicen nuestros clientes</h1>
  <swiper-container id="swiper" class="testimonial__slider" slides-per-view="3" autoplay="" speed="300" loop="true" pagination="true">
    {% for item in site.data.testimonial %}
    <swiper-slide>
      <div class="testimonial__item">
        <div class="testimonial__title">
          <img class="testimonial__img" src="{{ item.img }}">
          <div class="testimonial__info">
            <h1 class="testimonial__client"> {{ item.client }}</h1>
            <p class="testimonial__role"> {{ item.role }}</p>
          </div>
        </div>
        <p class="testimonial__message"> {{ item.message }}</p>
      </div>
    </swiper-slide>
    {% endfor %}
  </swiper-container>
  <script>
    const mql = window.matchMedia("(max-width: 1200px)");
const swiper = document.querySelector("#swiper");

// Función para cambiar el atributo según el ancho de pantalla
function updateSlidesPerView() {
  if (mql.matches) {
    swiper.setAttribute("slides-per-view", "1");
  } else {
    swiper.setAttribute("slides-per-view", "3");
  }
}

// Ejecuta la función al cargar la página
updateSlidesPerView();

// Ejecuta la función cuando el ancho de pantalla cambie
mql.onchange = updateSlidesPerView;

  </script>
</section>