<section class="why-choose-us">
  <img class="why-choose-us--img" src="/assets/img/Group_1.png">
  <div class="why-choose-us--list">
    <div class="why-choose-us--item">
      <img class="why-choose-us--icon" src="/assets/img/icons/iconIdeaSharing.png">
      <p class="why-choose-us--text" >Soluciones adaptadas específicamente a las necesidades de su empresa</p>
    </div>
    <div class="why-choose-us--item">
      <img class="why-choose-us--icon" src="/assets/img/icons/iconIdea.png">
      <p class="why-choose-us--text">La excelencia creativa eleva cada proyecto</p>
    </div>
    <div class="why-choose-us--item">
      <img class="why-choose-us--icon" src="/assets/img/icons/iconGoal.png">
      <p class="why-choose-us--text">La satisfacción del cliente es nuestro principal objetivo</p>
    </div>
  </div>
</section>