:root {
  --fixed-width: 900px;
}

* {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8f9ff;
}
/*h1, h2,h3,h4,p{
  text-wrap: balance;
}*/

/* BLOCK nav */

.nav {
  border-bottom: 1px solid #999;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f8f9ff;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--fixed-width);
  margin: auto;
  height: 64px;
}
.nav--hidden {
  display: none;
}
.nav__brand {
  display: block;
  max-width: 72px;
}
.nav__menu {
  display: flex;
  list-style: none;
}
.nav__item {
  padding-left: 24px;
  padding-right: 24px;
}
.nav__link {
  text-decoration: none;
  color: black;
}
.nav__link:hover {
  border-bottom: 2px solid #3564db;
  /*text-decoration: underline;
  text-decoration-color: #3564db;*/
}
.nav__whatsapp {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #25D366;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 550;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.nav__whatsapp:hover {
  box-shadow: 0px 0px 12px #999;
}
.nav__whatsapp-icon {
  display: block;
  margin-right: 6px;
  width: 24px;
}

/* BLOCK nav-mobile */

.nav-mobile {
  display: none;
  background-color: #e2e7f6;
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
  
}
.nav-mobile--closed {
  background-color: #f8f9ff;
  padding-bottom: 0;
}
.nav-mobile__closed {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-mobile__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 0;
}

.nav-mobile__item {
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 12px;
  font-weight: 600;
}
.nav-mobile__link {
  color: black;
  text-decoration: none;
}
.nav-mobile__hamburguer {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}
.nav-mobile__hamburguer-img {
  width: 90%;
  margin: auto;
}
.nav-mobile__whatsapp {
  display: flex;
  width: 200px;
  margin: auto;
  align-items: center;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #25D366;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 550;
  font-size: 12px;
}
.nav-mobile__whatsapp-icon {
  display: block;
  margin-right: 6px;
  width: 24px;
}
/* BLOCK  hero */
.hero {
  background-color: #fbebd7;
  padding: 20px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.hero__container {
  max-width: var(--fixed-width);
  display: flex;
  align-items: center;
}

.hero__content {
  padding: 20px;
  max-width: 50%;
  margin: auto;
}

.hero__title {
  font-size: 2rem;
}

.hero__title-blue {
  color: #3564db;
}

.hero__description {
  margin-top: 20px;
  margin-bottom: 25px;
}

.hero__action {
  display: inline-block;
  background-color: #1d43a2;
  padding: 25px 50px 25px 50px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.hero__action:hover {
  box-shadow: 0px 0px 12px #999;
}
.hero__bg {
  width: 50%;
  margin: auto;
  display: block;
}

.why-choose-us {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: var(--fixed-width);
  margin: auto;
  min-height: 600px;
}
.why-choose-us__img {
  max-width: 340px;
  width: 100%;
  margin: auto;
}
.why-choose-us__list {
  display: flex;
  min-width: 50%;
  flex-direction: column;
}
.why-choose-us__item {
  display: flex;
  align-items: center;
  background-color: #bccbf3;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
.why-choose-us__item:hover {
  box-shadow: 0px 0px 8px black;
}

.why-choose-us__icon {
  background-color: #3564db;
  width: 64px;
  border-radius: 50%;
  padding: 12px;
  margin-right: 32px;
}
.why-choose-us__text {
  color: black;
}

.resume {
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  background-color: #f4fafc;
  padding-bottom: 40px;
}

.resume__header {
  text-align: center;
  max-width: var(--fixed-width);
  margin-top: 80px;
}

.resume__title {
  color: #0c1b42;
}
.resume__content {
  line-height: 1.5;
}
.resume__content-blue {
  color: #3564db;
  line-height: 2;
}

.resume__cardList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.resume__card {
  position:relative;
  padding: 20px;
  max-width: 300px;
  transition: all 0.3s ease-in-out;
  bottom: 0;
}
.resume__card:hover{
  bottom: 10px;
}
.resume__cardIcon {
  position: relative;
  line-height: 0;
  top: 82px;
  left: 16px;
  width: 160px;
  margin-top: -64px;
}
.resume__cardContent {
  background-color: #fbebd7;
  display: flex;
  justify-content: start;
  padding: 20px;
  padding-top: 80px;
  line-height: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 150px;
}
.resume__cardPlus {
  display: block;
  width: 32px;
  margin: auto;
}
.resume__cardHeader {
  font-size: 1.5rem;
  color: #0c1b42;
  font-size: 24px;
}
.resume__cardDescription {
  background-color: #e7ecfb;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
  line-height: 1.5;
  height: 120px;
}
.resume__cta {
  background-color: #3564db;
  border-radius: 36px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  margin: 12px;
  transition: all 0.3s ease-in-out;
}
.resume__cta:hover {
  box-shadow: 0px 0px 12px #999;
}
.companies {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: var(--fixed-width);
  margin: auto;
}
.companies__title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
  color: #3564db;
}

.companies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 8px;
  box-shadow: 1px 2px 2px #ddd;
  border-radius: 16px;
}
.companies__logo {
  max-width: 128px;
  margin: auto;
  padding: 20px;
}

.faq {
  background-color: #c3e2f0;
  padding: 40px;
}
.faq__container {
  max-width: var(--fixed-width);
  margin: auto;
}
.faq__title {
  text-align: center;
  color:#0c1b42;
  margin: 20px;
}
.faq__details {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 6px;
  margin-bottom: 20px;
}
.faq__summary {
  color: #523f0f;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}
.faq__summary::marker {
  color: #0E0729;
}
.faq__content {
  color: #060e21;
  font-size: 16px;
  padding-top: 12px;
}

.testimonial {
  background: linear-gradient(#dbac36, #e6c777);
  padding: 20px;
}
.testimonial__header {
  color: #0c1b42;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.testimonial__slider {
  /*width: 100vw;*/
  height: 380px;
}
.testimonial__item {
  background-color: #fbebd7;
  width: 360px;
  height: 320px;
  padding: 20px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: auto;
}
.testimonial__title {
  display: flex;
  padding-bottom: 36px;
}
.testimonial__info {
  width: 100%;
}
.testimonial__img {
  display: block;
  width: 72px;
  margin: auto;
  padding-right: 12px;
}

.footer {
  background-color: #0c1b42;
  color: white;
  padding: 40px;
}
.footer__title {
  height: 66px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__section {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: start;
  margin: 12px;
}
.footer__description {
  margin-top: 12px;
  margin-bottom: 12px;
}
.footer__logo {
  width: 96px;

}
.footer__partners {
  width: 200px;

}
.footer__title {
  font-size: 24px;
  color: #3564db;
}
.footer__link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  gap: 8px;
  padding: 0;
  margin-bottom: 12px;
}
.footer__icon {
  margin-right: 8px;
}
.footer__copy {
  margin: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__cookies {
  color: white;
  text-decoration: none;
}

.post {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-bottom: 100px;
}

.post h1, .post h2, .post h3 {
  color:#1d43a2;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}
.post hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #1d43a2;
}

.error-404 {
  background: linear-gradient(#95b9e5, #1D43A2);
}
.error-404__cloud {
  background-image: url("/assets/img/cloud.png");
  background-size: 300px;
  background-position-y: 50%;
  background-position-x: calc(50% + 50px);
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error-404__title {
  font-size: 4rem;
  text-align: center;
  color:white;
}
.error-404__subtitle {
  font-size: 2.5rem;
  text-align: center;
  color:white;
  font-weight: 400;
}

.about {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: flex;
}
.about__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__title {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.about__title--blue {
  color: #3564db;
}
.about__rocket {
  max-width: 256px;
  margin: auto;
}
.description {
  max-width: 800px;
  margin: auto;
}
.description__item {
  margin: 20px;
}
.cards {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 340px;
  margin: 20px;
}
.card__title {
  background-color: #f3e3bc;
  color:#1d43a2;
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card__content {
  background-color: #e7ecfb;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  min-height: 400px;
}
.values {
  max-width: 800px;
  margin: auto;
}
.values__title {
  font-size: 1.5rem;
  color:#1d43a2;
}
.cards2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.card2 {
  width: 350px;
  margin: 20px;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 0px 12px #999;
  border-radius: 12px;
}
.card2__title {
  text-align: center;
  margin-bottom: 20px;
}
.card2__content {
  text-align: center;
}
.service-first {
  display: flex;
  justify-content: center;
}
.service-card {
  /*width: 280px;*/
  margin: 10px;
  margin-top: 60px;
}
.service-card__img {
  width: 100px;
  margin: auto;
}
.service-card__img--left {
  position: relative;
  top: 10px;
  right: 0px;
  width: 120px;
  margin-top: -64px;
}
.service-card__img--right{
  position: relative;
  top: 0px;
  left: 120px;
  width: 90px;
  margin-top: -64px;
}
.service-card__header {
  width: 280px;
  background-color: #f3e3bc;
  color:#1d43a2;
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.service-card__header--large {
  width: 380px;
}

.service-card__header--blue {
  color: white;
  background-color: #2955f5;
}
/*.service-card__partner {

}*/
.service-card__partner-logo {
  width: 140px;
  margin: 0;
}
.service-card__title {
  font-size: 1.2rem;
  font-weight: 600;
}
.service-card__text {
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.service-card__content {
  width: 280px;
  background-color: #e7ecfb;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.service-card__content--large {
  width: 380px;
}
.service-card__button {
  display: block;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  background-color: #24c8ff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 0.75rem;
}
.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  margin-top: 60px;
}
.service-card2 {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  font-size: 0.75rem;
  background-color: white;
  box-shadow: 0px 0px 8px #bbb;
}
.service-card2 summary {
  font-size: 1rem;
  font-weight: 800;
}
.service-card2__item {
  list-style-position: inside;
  list-style-type: "> ";
}
.service-description {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.service-description__item {
  width: 50%;
  font-size: 0.75rem;
  margin: auto;
}
.service-second--white {
  background-color: white;
}
.service-second {
  display: flex;
  align-items: end;
  padding: 20px;
  gap: 20px;
}
.service-second__steps {
  font-weight: 900;
  font-size: 1.2rem;
  background: linear-gradient(0.25turn, #1c1605,#806418);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.lists {
  display: flex;
  margin: 20px;
}
.lists__item--expanded {
  font-size: 1rem;
  margin-bottom: 12x;
}
.lists__list {
  margin-right: 40px;
  font-size: 0.75rem;
}
.lists__item {
  list-style-position: inside;
  list-style-type: "> ";
}

.service-second__text {
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9ff;
  border: 1px solid #ddd;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 12px;
}
.service-second__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-third--gradient {
  background: linear-gradient(270deg, #3179ff, #ab42fa, #8752fb);
  background-size: 400% 400%;
  /*background: linear-gradient(to right,#3179ff,0%,#ab42fa, #8752fb);*/
  animation: AnimationName 5s ease infinite;
  padding: 10px;
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.service-third {
  display: flex;
  padding: 20px;
  align-items: center;
  color: white;
  gap: 80px;
}
.service-third__title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}
.service-third__subtitle {
  color: #c3e2f0;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.service-third__button {
  background-color: #ffe8e8;
  padding: 20px;
  border-radius: 20px;
  display: block;
  text-wrap: nowrap;
  text-decoration: none;
  color: #3c3c46;
}

.service-fourth {
  display: flex;
}
.service-fourth__video {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.service-fourth__title {
  text-align: center;
  margin: 40px;
  margin-left: 80px;
  margin-right: 80px;
  color: #0b3df4;
  font-weight: 300;
  font-size: 2rem;
}

.container {
  max-width: 900px;
  margin: auto;
}
.youtube-video {
  width: 100%;
  max-width: 450px;
}
.service-fifth {
  background-color: #e7ecfb;
  height: 236px;
  margin-bottom: 40px;
}
.service-fifth__container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}
.service-fifth__images {
  display: flex;
  flex-wrap: nowrap;
}
.service-fifth__img {
  padding-left: 8px;
  padding-right: 8px;
  width: 160px;
  margin: auto;
}
.service-fifth__img--up {
  position: relative;
  bottom: 20px;
}
.service-fifth__text {
  color:#112963;
}
.service-sixth {
  display: flex;
}
.service-sixth__img {
  width: 100%;
  margin: auto;
}
.service-sixth__title {
  font-weight: 800;
  font-size: 1.2rem;
  background: linear-gradient(0.25turn, #1c1605,#806418);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.service-seventh__slider {
  width: 100%;
  padding: 20px;
}
.service-seventh__card {
  width: 190px;
  height: 180px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #cedaf6;
  box-shadow: 0px 2px 4px #ddd;
  
  margin: auto;
  margin-bottom: 10px;
}
.service-seventh__title{
  font-size: 1rem;
  margin-bottom: 20px;
}
.service-seventh__content {
  font-size: 0.75rem;
}
.service-seventh__action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch__slider {
  background-color: #2196F3;
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch__round {
  border-radius: 34px;
}

.switch__round:before {
  border-radius: 50%;
}
.service-eighth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-eighth__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.service-eighth__title {
  background: linear-gradient(0.25turn, #6f35cc,#1d43a2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-right: 12px;
  font-size: 2rem;
}
.service-eighth__title--second {
  font-weight: 200;
  text-align: center;
}
.service-eighth__text {
  text-align: center;
  margin: 40px;
}
.service-eight__text--join {
  margin-top: 0;
}
.service-eighth__card {
  width: 190px;
  height: 160px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #cedaf6;
  box-shadow: 0px 0px 8px #ddd;
  
  margin: auto;
  margin-bottom: 10px;
}
.service-eighth__card-title{
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}
.service-eighth__content {
  font-size: 0.75rem;
  text-align: center;
}
.service-eighth__subtitle {
  text-align: center;
  margin-top: 40px;
}
.service-eighth__img {
  width: 500px;
  margin: auto;
  margin-bottom: 40px;
}
@media only screen and (max-width: 900px) {
  .nav {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero__container {
    display: block;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 100%;
  }
  .hero__title {
    font-size: 2rem;
    text-align: center;
  }
  .hero__description {
    text-align: center;
  }
  .hero__action {
    margin: auto;
  }
  .hero__bg {
    width: 80%;
    margin: auto;
  }
  .why-choose-us{
    flex-direction: column;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__section {
    width: 100%;
  }
  .card__content {
    min-height: auto;
  }
  .about__rocket {
    display: none;
  }
  .service-first {
    flex-wrap: wrap;
  }
  .service-description {
    flex-direction: column;
  }
  .service-description__item {
    width: 100%;
    text-align: center;
  }
  .service-second {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-second .service-card {
    order: -1;
  }
  .service-second__info {
    padding: 20px;
  }
  .service-second__steps {
    font-size: 1rem;
  }
  .service-second .lists {
    display: flex;
    flex-direction: column;
  }
  .service-second .lists__item {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  .service-third {
    flex-direction: column;
    text-align: center;
  }
  .service-fourth {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .service-fourth .lists__item--expanded {
    margin: 8px;
    font-size: 1rem;
  }
  .service-fourth__title {
    font-size: 1.2rem;
    margin: 20px;
  }
  .service-fifth {
    flex-direction: column;
    height: 166px;
    margin-bottom: 250px;
    margin-top: 40px;
  }
  .service-fifth__container {
    flex-direction: column;
  }
  .service-fifth__text {
    text-align: center;
    padding: 20px;
  }
  .service-fifth__brand {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .service-fifth__img {
    width: 120px;
  }
  .service-sixth {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-eighth__img {
    width: 100%;
    padding: 20px;
  }
}