<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="facebook-domain-verification" content="a0pagn77qzzd1sk38kewdmmxr7p69j" />
    <meta name="facebook-domain-verification" content="sc4vxn9vgxvgvs63s7twh1n3r6dg41" />
    <meta name="facebook-domain-verification" content="4qho3j9mngqbvqksjg2kxvpjw29ogm" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <meta name="facebook-domain-verification" content="sc4vxn9vgxvgvs63s7twh1n3r6dg41" />

    <meta property="og:title" content="Bazzar Digital: Estrategias de Marketing que Transforman Negocios" />
    <meta property="og:description" content="Potencia tu negocio con estrategias de marketing digital personalizadas. En Bazzar Digital ofrecemos soluciones en diseño web, branding, campañas de publicidad y más. ¡Impulsa tu presencia online con nosotros!" />
    <meta property="og:image" content="/assets/img/logos/logoBazzar.png" />
    <meta property="og:url" content="https://bazzar.digital" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_US" />

    <link rel="stylesheet" href="/assets/css/youtube.css" />
    
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
  <!-- Meta Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1469001993765972');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1469001993765972&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9NG7N8WZBQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9NG7N8WZBQ');
  </script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <script src="/assets/js/youtube.js"></script>
  </body>
</html>
